package view

templ Alert(m Map) {
	if message,ok:=m["Message"].(string);ok {
		<div class="alert alert-danger text-left" role="alert">
			❌ { message }
		</div>
	}
	if success ,ok:=m["Success"].(string);ok {
		<div class="alert alert-success text-left" role="alert">
			✅ { success }
		</div>
	}
}
